@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

html {
  body {
    background: #13182b;
    
    * {
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
    }

    a {
      text-decoration: none;
    }

    ul {
      li {
        list-style: none;
      }
    }
  }
}
